body{
    font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: black;
        width: 100%;
        
}
header,
section,
footer {
    margin: 20px;
    width: 100%;
}

header{
    height: 50px;
    
}

#logo {
    float: left;
    font-size: 260%;
    margin: 10px;
    width: 50%;
    padding-top: 5px;
    color: black;
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
}

/*Navigation link*/
#menu {
    font-size: 110%;
    letter-spacing: 1px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#image-outer {
    height: 600px;
    overflow: hidden;
    /*position: relative;*/
    background-color: white;
}
#main-image {
    height: 550px;
    width: 100%;
    background: url("../image/main-image.webp") no-repeat center center;

    /*Animate the zoom of main image*/
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
/* create the level of zoom in the main image*/
@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
#cover-text,
#cover-text h2 {
    color: #fff;
}
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 100px;
    bottom: 60px;
    right: 20px;
    text-align: left;
    position: absolute;
}
/*About*/
#about {
    font-family: Oswald, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    
    text-align: justify;
    color: #3a3a3a;
    padding-bottom: 20px;
    height: 200px;
}


