body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Include padding and borders in the element's total width and height */
    color: black;
    max-width: 100%;
        overflow-x: hidden;
}

header,
section,
footer {
    margin: 20px 0;
}

header {
    height: 50px;
}

#logo {
    float: left;
    font-size: 2.6em;
    margin: 10px;
    padding-top: 5px;
    color: black;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#image-outer {
    height: 600px;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

#main-image {
    width: 95%;
    height: 550px;
    background: url("../image/main-image.webp") no-repeat center center;
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 100px;
bottom: 30px;
    right: 150px;
    text-align: left;
    position: absolute;
}

#about {
    font-family: Oswald, sans-serif;
    margin: 0 20px;
    text-align: justify;
    color: #3a3a3a;
    /*padding-bottom: 20px;*/
    height: 200px;
}
#about>h2 {
    font-size: 30px;
    font-family: Oswald, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
}
footer {
    height: 40px;
    margin: 20px;
}

#social-networks {
    text-align: center;
}

#social-networks>li {
    display: inline;
    color: inherit;
}

#social-networks i {
    font-size: 150%;
    margin: 5%;
    padding: 2%;
}